body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  
  background-image: linear-gradient(rgb(0, 47, 255), rgb(77, 154, 255));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.width-four {
  grid-column: span 4;
}

.button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  outline: none;
  background-color: rgba(255, 255, 255, 0.45);  
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: -150px;
  width: 400px;
  height: 150px;
}
.out1 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  padding-left: 80px;
}